* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  min-height: 100vh;
  background: linear-gradient(185deg, #3b3ee3, #045610);
  padding: 0.625rem;
}
.todo-app {
  max-width: 34rem;
  background-color: #ffffff;
  margin: 6rem auto;
  padding: 2.5rem 1.5rem 4.5rem;
  border-radius: 0.5rem;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.todo-app h2 img {
  width: 2rem;
  margin-left: 1rem;
}
.todo-app:hover {
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efe2e2;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1.25rem;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.625rem;
  font-weight: 14px;
}
button{
  border:none;
  outline: none;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 16px;
  cursor: pointer;
  background-color: #0e9c11;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

button:hover{
  background-color: #068051;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 0.75rem 0.5rem 0.75rem 3rem;
  user-select: none;
  cursor: pointer;
  position: relative; 
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 16px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;

}

ul li.checked::before{
  color: #666;
  background-image: url(images/checked.png);
}


ul li span{
  position:absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #f3f3f3;
}