* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}

h3{
  text-align: center;
  margin-top: 20px;
}
