*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #29214b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box{
  width: 400px;
  position: relative;
}

.input-box input{
  height: 60px;
  width: 100%;
  padding: 6px 20px;
  border: 1px solid #ccc;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
}

button {
  width: 3px;
  height: 3px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 16%;
  left: 85%;
  transform: translateY(-48%);
}

button img {
  width: 35px;
}

#message {
  position: absolute;
  display: none;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}
